<form #form="ngForm" id="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">SSID</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="name" placeholder="Enter SSID" #name="ngModel" ngModel>
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="password" placeholder="Password" #password="ngModel" ngModel>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Connect</button>
</form>
