<mat-toolbar>
<mat-icon style="cursor:pointer;color:lightgray;" routerLink="/zigbee" routerLinkActive="active">arrow_back_ios</mat-icon>
<h1 style="margin-left:30px;color:lightgray;">PERMIT ZIGBEE</h1>
</mat-toolbar>
<br/>
<div style="display:flex;">
<h5 style="color:red;">*Note:</h5><p style="margin-left:10px;color:lightgray;">If you turn on the permit, then it will be on for 1 minute .</p>
</div>
<br/>
<div class="card" style="width: 20rem;margin:0 auto;background-color:#383f45;color:white;">
  <countdown class="card-img-top" style="font-size:40px;margin-left:80px;" #countdown [config]="timerObj.t1.config">$!h!:$!m!:$!s!</countdown>
  <div class="card-body">
    <h5 class="card-title">
          <mat-form-field style="width:280px;">
          <mat-label style="color:lightgray;font-size:14px;">Do you want to permit ? </mat-label>
          <mat-select [(value)]="selected">
          <mat-option value="true">Yes</mat-option>
          <mat-option value="false">No</mat-option>
          </mat-select><br/>
          </mat-form-field>
          <mat-form-field style="width:280px;">
          <mat-label style="color:lightgray;font-size:14px;">Set the time in seconds </mat-label>
          <input
            matInput
            name="Set the time in seconds"
            type="text"
            #titleInput
            required>
        </mat-form-field>
    </h5>
    <button mat-raised-button color="primary" type="submit" class="mt-4" (click)="permit(selected,titleInput.value);addTodo(titleInput.value)">PERMIT</button>
  </div>
</div>











<!--<div style="position: fixed;z-index: 1031;top: 20%;left: 50%;transform: translate(-50%, 50%);font-size:50px;">


</div>



  <mat-form-field appearance="fill" style="width:250px;position: fixed;z-index: 1031;top: 50%;left: 50%;transform: translate(-50%, -50%);">
  <mat-label>Do you want to permit ? </mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="true">Yes</mat-option>
    <mat-option value="false">No</mat-option>
  </mat-select><br/>
</mat-form-field><br/><br/>-->



