/*mat-toolbar {
    background-color: #383f45;
    color: lightgray;
    font-family: Verdana, Geneva, sans-serif;
}

mat-card-actions button {
    background-color: #383f45;
    color: orange;
}

mat-grid-tile {
    margin-top: 5px;
    border-radius: 10px;
}

.example-header-image {
    background-color: #6BE5E3;
    cursor: pointer;
}

.example-header-image2 {
    background-color: #E24444;
    cursor: pointer;
}

.example-card {
    hight: 100%;
    width: 280px;
    background-color: #383f45;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    border-radius: 5px;
}

.btn {
    background-color: white;
    color: black;
    float: right;
}

mat-card-content {
    font-size: 15px;
}

mat-card-content mat-icon {
    font-size: 50px;
    padding: 10px 80px;
    color: #C340F1;
}*/

.card {
    border-radius: 3vh;
    margin: auto;
    max-width: 380px;
    padding: 7vh 6vh;
    align-items: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media(max-width:767px) {
    .card {
        width: 90vw
    }
}

.card-img {
    padding: 20px 0;
    width: 60%
}

.card-img img {
    opacity: 0.7
}

.card-title {
    margin-bottom: unset
}

.card-title p {
    color: rgb(237, 55, 116);
    font-weight: 900;
    font-size: 30px;
    margin-bottom: unset
}

.card-text p {
    color: grey;
    font-size: 25px;
    text-align: center;
    padding: 3vh 0;
    font-weight: lighter
}

.modal-button {
    background-color: rgb(237, 55, 116);
    border-color: rgb(237, 55, 116);
    border-radius: 6px;
    color: white;
    font-size: 17px;
    padding-right: 76px;
    padding-left: 76px
}

.btn {
    width: 100%;
    background-color: rgb(237, 55, 116);
    border-color: rgb(237, 55, 116);
    border-radius: 25px;
    color: white;
    font-size: 20px
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white;
}