mat-toolbar {
    background-color: #383f45;
    color: lightgray;
    font-family: Verdana, Geneva, sans-serif;
}

mat-card-actions button {
    background-color: #383f45;
    color: orange;
}

mat-grid-tile {
    margin-top: 5px;
    border-radius: 10px;
}

.example-header-image {
    background-color: #6BE5E3;
    cursor: pointer;
}

.example-header-image2 {
    background-color: #E24444;
    cursor: pointer;
}

.example-card {
    hight: 100%;
    width: 280px;
    background-color: #383f45;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    border-radius: 5px;
}

.btn {
    background-color: white;
    color: black;
    float: right;
}

mat-card-content {
    font-size: 15px;
}

mat-card-content mat-icon {
    font-size: 50px;
    padding: 10px 80px;
    color: #C340F1;
}
